## String

In [1]:
# Below all variables represents Strings

pam = '2'
sam = 'atul'
cam = 'Adam'
alp = 'This is me who is learning Python.'  
bet = "I'm trying to use single inverted comma '"

In [2]:
pam

'2'

In [3]:
sam

'atul'

In [4]:
alp

'This is me who is learning Python.'

In [5]:
bet

"I'm trying to use single inverted comma '"

In [7]:
# check the type 
type(bet)

str

In [8]:
type(alp)

str

In [9]:
type(pam)

str

So, Any quoted (single inverted comma or double) word is called a string in Python.  
As single inverted comma or double inverted comma have a special meaning in Python to represent String,  If we have to use these in a string, use another one to quote the string.  
Such as variable - **bet**

#### Multi-Line String Representation   
If you can split the line by putting \ (back slash) and continue the line in next.

In [10]:
big_line = 'This is again me who is trying to show-off my \
python skills and learning little bit more abount "python"'

In [11]:
big_line

'This is again me who is trying to show-off my python skills and learning little bit more abount "python"'

**Remember** Quoted Numeric Value is never equal to Numeric value, It is String

In [13]:
'2' == 2   # False as String 2 is never equal to number 2

False

In [14]:
'365' == 365

False

#### Type Conversion  
int, float, str function

##### int Function

In [16]:
int('324')  # String To Integer

324

In [17]:
int('211') == 211  # String To Integer, then Comparison

True

In [18]:
int(3.4)    # Float to Integer

3

In [20]:
int('atul')   # Remember, You can not convert a-z char to numbers :-)

ValueError: invalid literal for int() with base 10: 'atul'

##### float Function

In [21]:
float('2.3')

2.3

In [22]:
float(2)

2.0

##### str Function

In [23]:
str(3)

'3'

In [24]:
str(4.2)

'4.2'

Hence Remember, When You are performing any Math on User Inputs or String,  
Please make sure each of them have been converted into either float or int.   
likewise, When representing Numbers as a string, convert the type to str