In [1]:
"""
Learning List
properties: ordered, iterable, mutable, can contain multiple data types

www.datagenx.net
"""

'\nLearning List\nproperties: ordered, iterable, mutable, can contain multiple data types\n\nwww.datagenx.net\n'

In [2]:
print ( "Hello! Welcome to Python 5 tutorial Script")
print ( "Learning List")

Hello! Welcome to Python 5 tutorial Script
Learning List

In [3]:
print ( "Creating list")
emp1 = list()
emp2 = []

Creating list

In [4]:
print ( "Empty list:",emp1,emp2)

Empty list: [] []

In [5]:
lis = [2,4,5,6,3,12,45,75,32,['a','b']]
print ( lis)
print ( len(lis))   #print ( the length of list

[2, 4, 5, 6, 3, 12, 45, 75, 32, ['a', 'b']]
10

In [6]:
print ( "\nlist are mutable, mean you can change the value of any index")
print ( "We can replace the list element by assigning it to new value")
lis[3] = "atul"
print ( lis)

list are mutable, mean you can change the value of any index
We can replace the list element by assigning it to new value
[2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]

In [7]:
print ( "\ntraversing through list")
for item in lis:
	print ( item,)

traversing through list
2
4
5
atul
3
12
45
75
32
['a', 'b']

In [8]:
print ( "List opertation")
print ( "+ concat and * repeat")

lis2 = [1,3]
print ( lis2)
print ( lis2 * 2 )
print ( lis + lis2 )

List opertation
+ concat and * repeat
[1, 3]
[1, 3, 1, 3]
[2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b'], 1, 3]

In [9]:
print ( "List Slicing")

List Slicing

In [10]:
print ( lis[:])     # print ( whole lis
print ( lis[2:])    # print ( from 2nd index to end 
print ( lis[3] )    # print ( index 3 value

[2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]
[5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]
atul

In [11]:
print ( lis[-2])    # print ( 2nd last element
print ( lis[::1] )  # list[start : end : stride]
print ( lis[::2])   # print ( every 2nd element

32
[2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]
[2, 5, 3, 45, 32]

In [12]:
print ( lis[::-2])   # print ( every 2nd element but from back
print ( lis[::-1] )  # print ( list in reverse
print ( lis[2:-2])   # this will print ( from index2 till 2nd last elements
print ( lis[4:2:-1]) #

[['a', 'b'], 75, 12, 'atul', 4]
[['a', 'b'], 32, 75, 45, 12, 3, 'atul', 5, 4, 2]
[5, 'atul', 3, 12, 45, 75]
[3, 'atul']

In [13]:
print ( "List Methods")
# sort - sort the elements
# len - give the total element
# push, pop, del 
# append - append a new element
# extent - append the new elements

print ( lis )
print ( lis2 )

print ( lis2.append('append'))            #this will print ( None as method is return None
print ( lis2)

List Methods
[2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]
[1, 3]
None
[1, 3, 'append']

In [14]:
print ( lis2.extend(['extend','method'])) #this will print None as method is return None
print ( lis2)

None
[1, 3, 'append', 'extend', 'method']

In [15]:
print ( "we can achieve the same with concatenation but It is SLOWER than extend methog")
chk = lis2 + ['extend','method']

print ( chk)
print ( lis2.extend(lis))                 #this will print ( None as method is return None
print ( lis2)

we can achieve the same with concatenation but It is SLOWER than extend methog
[1, 3, 'append', 'extend', 'method', 'extend', 'method']
None
[1, 3, 'append', 'extend', 'method', 2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]

In [16]:
print ( "Inserting any element at specific index")
# inserting 'Raj' at index 2
lis2.insert(2,'Raj')
print ( lis2)

Inserting any element at specific index
[1, 3, 'Raj', 'append', 'extend', 'method', 2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]

In [17]:
print ( "Deleting the elements with pop")
print ( lis2)
x = lis2.pop()   # this will remove the last one
print ( "poped value is:",x)
print ( lis2)
x = lis2.pop(2)  # this will pop index 2 element
print ( "poped value is:",x)
print ( lis2)

Deleting the elements with pop
[1, 3, 'Raj', 'append', 'extend', 'method', 2, 4, 5, 'atul', 3, 12, 45, 75, 32, ['a', 'b']]
poped value is: ['a', 'b']
[1, 3, 'Raj', 'append', 'extend', 'method', 2, 4, 5, 'atul', 3, 12, 45, 75, 32]
poped value is: Raj
[1, 3, 'append', 'extend', 'method', 2, 4, 5, 'atul', 3, 12, 45, 75, 32]

In [18]:
# with pop, we can get the removed value
# if we dont need that we can use del method
print ( "Deleting the elements with del")
del lis2[3]
del lis2[7]
print ( lis2 )
# with del we can remove list slice
del lis2[2:4]
print ( lis2)

Deleting the elements with del
[1, 3, 'append', 'method', 2, 4, 5, 3, 12, 45, 75, 32]
[1, 3, 2, 4, 5, 3, 12, 45, 75, 32]

In [19]:
# if you dont know the index but value
print ( "Deleting the elements with remove")
lis2.remove(45)
print ( lis2 )

Deleting the elements with remove
[1, 3, 2, 4, 5, 3, 12, 75, 32]

In [20]:
print ( "Sorting the list")
lis2.sort()
print ( lis2 )
lis2.sort(reverse=True)
print ( lis2 )
lis2.reverse()  #another method to reverse the list
print ( lis2 )
#lis2.sort(key=len)
#print ( lis2

Sorting the list
[1, 2, 3, 3, 4, 5, 12, 32, 75]
[75, 32, 12, 5, 4, 3, 3, 2, 1]
[1, 2, 3, 3, 4, 5, 12, 32, 75]

In [21]:
print ( "\nTotal element" )
print ( len(lis2) )
print ( "Max:", max(lis2) )
print ( "Min:", min(lis2) )

Total element
9
Max: 75
Min: 1

In [22]:
# Search element in list 
print ( "Searching 3 in list")
print ( lis2.index(3))   # this will give you the index of first instance
print ( lis2.count(3))    # this will count the total occurance

Searching 3 in list
2
2

In [23]:
# List and String
str1 = 'Python is awesome'
str2 = 'Atul'
print ( "str = ",str1)
print ( "str2 = ",str2)

str =  Python is awesome
str2 =  Atul

In [24]:
print ( "Converting string to list")
lstr2 = list(str2)
lstr = list(str1)
print (lstr,"\n",lstr2)

Converting string to list
['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', 'w', 'e', 's', 'o', 'm', 'e']
 ['A', 't', 'u', 'l']

In [26]:
print ( "breaking the sentence into word")
lstr3 = str1.split()  # by default splitted by ' ' , can define the delimiter as split(del)
print ( lstr3 )
# join is the inverse of split
str3 = '-'.join(lstr3)
print ( "\nJoining with -",str3 )

breaking the sentence into word
['Python', 'is', 'awesome']

Joining with - Python-is-awesome

In [27]:
# Aliasing
# When vars referencing the same object are called as aliased
print ( "Object Aliasing or creating reference")
var1 = [1,2,3]
var2 = var1         #var2 is referencing var1
var3 = [1,2,3]      #var3 and var2 or var1 is identical but not aliased
print ( var1, var2)
print ( var2 is var1)
print ( var3 is var1)

Object Aliasing or creating reference
[1, 2, 3] [1, 2, 3]
True
False

In [28]:
# identical check
print ( var1 == var2 )
print ( var1 == var3 )

True
True

In [29]:
# by id function, you can check the object id, if id are same that means aliased
print ( id(var1) )
print ( id(var2) )
print ( id(var3) )

60667144
60667144
61192136

In [30]:
# when object is aliased If we change anyone's value it will affect the others also
var2[0] = 'One'        #It will modify the both var1, var2  as both are aliased
print ( var2, var1 )
print ( var2 is var1 )     # True
var1[1] = 'Two'        #It will modify the both var1, var2  as both are aliased
print ( var2, var1 )
print ( var1 is var2 )     # True
var3[0] = 'NoOne'      #var3 is identical of var1, not aliased, so it will not affect var1
print ( var3, var1 )
print ( var3 is var1 )     #False

['One', 2, 3] ['One', 2, 3]
True
['One', 'Two', 3] ['One', 'Two', 3]
True
['NoOne', 2, 3] ['One', 'Two', 3]
False

In [31]:
# List comprehensions
# better way to create conditional list
lis_no = [2,5,1,9,8,4,7]
lis2 = [x**2 for x in lis_no]  
print ( lis2 ) #print ( no*no

[4, 25, 1, 81, 64, 16, 49]

In [32]:
lis2 = [x**2 for x in lis_no if x%2==0]
print ( lis2 ) #print ( no*no if no is even

[4, 64, 16]

In [33]:
# Atul Singh
# www.datagenx.net